#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]

#
# * Galera-related settings
#
[galera]

[embedded]

[mariadb]
log_error=server.log
log_bin
gtid_domain_id=1
server_id=1000
log_slave_updates=1
gtid_strict_mode=1
max_statement_time=300
session_track_system_variables=last_gtid

## This is only available with the MariaDB Enterprise builds
#shutdown_wait_for_slaves=ON
##

innodb_flush_log_at_trx_commit=1
sync_binlog=1

# Enable the following to activate Semi-Sync replication
# rpl_semi_sync_master_enabled=ON
# rpl_semi_sync_slave_enabled=ON
# rpl_semi_sync_master_wait_point=AFTER_SYNC
