[maxscale]
threads=1
log_warning=true

[server1]
type=server
address=mariadb1
port=3306
protocol=MariaDBBackend

[server2]
type=server
address=mariadb2
port=3306
protocol=MariaDBBackend

[server3]
type=server
address=mariadb3
port=3306
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1,server2,server3
user=maxuser
password=password
replication_user=repl_user
replication_password=password
auto_failover=true
auto_rejoin=true
monitor_interval=1000
failcount=2
switchover_timeout=20
failover_timeout=20

cooperative_monitoring_locks=majority_of_running
#cooperative_monitoring_locks=majority_of_all

[Read-Write-Service]
type=service
router=readwritesplit
servers=server1,server2,server3
user=maxuser
password=password
#master_reconnection=1
#delayed_retry=1

# causal_reads can be one of (none, local, global, fast)
#causal_reads=local
#transaction_replay=true

[Read-Write-Listener]
type=listener
service=Read-Write-Service
protocol=MariaDBClient
port=4006
